GTK/gtk-3.0/bookmarks
GTK/gtk-3.0/servers

nvim/spell

ranger/tagged
ranger/bookmarks
ranger/history

dwm/src
dwm/pkg
dwm/*.diff
dwm/*.tar.gz
dwm/*.tar.xz
surf/src
surf/pkg
surf/*.diff
surf/*.tar.gz
surf/*.tar.xz
surf/surf
surf/.*
st/src
st/pkg
st/*.diff
st/*.tar.gz
st/*.tar.xz
st/st
st/.*
st/PKGBUILD

termite/config
nvim/colors.vim
